# Facial Keypoints Detection

## 0. Info
* Data Type : Image
* Task Type : Regression
* Competition Link : https://www.kaggle.com/c/facial-keypoints-detection
* Reference
  * https://www.kaggle.com/obione26/facial-keypoints-detection-keras-albumentations

## 1. Setting

In [ ]:
import os
import random

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import tensorflow as tf
import tensorflow_addons as tfa

In [ ]:
SEED = 1

random.seed(SEED)
np.random.seed(SEED)
tf.random.set_seed(SEED)

In [ ]:
CONFIG = {
    'name' : 'Facial Keypoints Detection',
    'base_dir' : 'drive/Shared drives/Yoon/Project/Doing/Kaggle/'
}

## 2. Data

### 2.1. 준비

In [ ]:
data_dir = os.path.join(CONFIG['base_dir'], 'data', f"{CONFIG['name']}.zip")
!unzip -q "{data_dir}"

In [ ]:
!unzip -q training.zip
!unzip -q test.zip

### 2.2. EDA

In [ ]:
train_data = pd.read_csv('training.csv')
test_data = pd.read_csv('test.csv')

In [ ]:
train_data.head()

   left_eye_center_x  ...                                              Image
0          66.033564  ...  238 236 237 238 240 240 239 241 241 243 240 23...
1          64.332936  ...  219 215 204 196 204 211 212 200 180 168 178 19...
2          65.057053  ...  144 142 159 180 188 188 184 180 167 132 84 59 ...
3          65.225739  ...  193 192 193 194 194 194 193 192 168 111 50 12 ...
4          66.725301  ...  147 148 160 196 215 214 216 217 219 220 206 18...

[5 rows x 31 columns]

In [ ]:
test_data.head()

   ImageId                                              Image
0        1  182 183 182 182 180 180 176 169 156 137 124 10...
1        2  76 87 81 72 65 59 64 76 69 42 31 38 49 58 58 4...
2        3  177 176 174 170 169 169 168 166 166 166 161 14...
3        4  176 174 174 175 174 174 176 176 175 171 165 15...
4        5  50 47 44 101 144 149 120 58 48 42 35 35 37 39 ...

In [ ]:
print(f'Train data : {len(train_data)}')
print(f'Test  data : {len(test_data)}')

Train data : 7049
Test  data : 1783

In [ ]:
# 결측값 확인
train_data.isnull().mean()

left_eye_center_x            0.001419
left_eye_center_y            0.001419
right_eye_center_x           0.001844
right_eye_center_y           0.001844
left_eye_inner_corner_x      0.677827
left_eye_inner_corner_y      0.677827
left_eye_outer_corner_x      0.678394
left_eye_outer_corner_y      0.678394
right_eye_inner_corner_x     0.678252
right_eye_inner_corner_y     0.678252
right_eye_outer_corner_x     0.678252
right_eye_outer_corner_y     0.678252
left_eyebrow_inner_end_x     0.677969
left_eyebrow_inner_end_y     0.677969
left_eyebrow_outer_end_x     0.684352
left_eyebrow_outer_end_y     0.684352
right_eyebrow_inner_end_x    0.677969
right_eyebrow_inner_end_y    0.677969
right_eyebrow_outer_end_x    0.682792
right_eyebrow_outer_end_y    0.682792
nose_tip_x                   0.000000
nose_tip_y                   0.000000
mouth_left_corner_x          0.678110
mouth_left_corner_y          0.678110
mouth_right_corner_x         0.677969
mouth_right_corner_y         0.677969
mouth_center_top_lip_x       0.677259
mouth_center_top_lip_y       0.677259
mouth_center_bottom_lip_x    0.004682
mouth_center_bottom_lip_y    0.004682
Image                        0.000000
dtype: float64

## 2.3. 전처리

In [ ]:
def prep_dataframe(dataframe):
    X = np.array([prep_image(i) for i in dataframe['Image']])
    if len(dataframe.columns) > 2:
        y = dataframe.drop('Image', axis=1).values
    else:
        y = None
    return X, y

def prep_image(image):
    image = image.split(' ')
    image = np.array(image, dtype=np.float32)
    image = image.reshape((96, 96, 1))
    image = image / 255.
    return image

In [ ]:
train_data = train_data.fillna(train_data.median())

In [ ]:
X_train, y_train = prep_dataframe(train_data)
X_test, _ = prep_dataframe(test_data)

In [ ]:
X_train.shape, y_train.shape, X_test.shape

((7049, 96, 96, 1), (7049, 30), (1783, 96, 96, 1))

## 3. Model

In [ ]:
def conv_block(x, filters, kernel_size, pooling=True):
    x = tf.keras.layers.Conv2D(filters, kernel_size, padding='same')(x)
    x = tf.keras.layers.BatchNormalization()(x)
    x = tf.keras.layers.LeakyReLU(alpha=0.1)(x)
    x = tf.keras.layers.Conv2D(filters, kernel_size, padding='same')(x)
    x = tf.keras.layers.BatchNormalization()(x)
    x = tf.keras.layers.LeakyReLU(alpha=0.1)(x)
    if pooling:
        x = tf.keras.layers.MaxPool2D()(x)
    return x

def build_model(output_dim=30):
    inputs = tf.keras.layers.Input((96, 96, 1))
    x = conv_block(inputs, 32, 5)
    x = conv_block(x, 64, 3)
    x = conv_block(x, 128, 3)
    x = conv_block(x, 256, 3)
    x = conv_block(x, 512, 3, pooling=False)
    x = tf.keras.layers.Flatten()(x)
    x = tf.keras.layers.Dense(512, activation='relu')(x)
    x = tf.keras.layers.Dropout(0.1)(x)
    outputs = tf.keras.layers.Dense(output_dim)(x)

    model = tf.keras.Model(inputs, outputs)
    model.compile(
        loss = 'mse',
        optimizer = tf.keras.optimizers.Adam(),
        metrics = ['mae']
    )

    return model

In [ ]:
model = build_model()
model.summary()

Model: "functional_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_3 (InputLayer)         [(None, 96, 96, 1)]       0
_________________________________________________________________
conv2d_9 (Conv2D)            (None, 96, 96, 32)        832
_________________________________________________________________
batch_normalization_8 (Batch (None, 96, 96, 32)        128
_________________________________________________________________
leaky_re_lu_8 (LeakyReLU)    (None, 96, 96, 32)        0
_________________________________________________________________
conv2d_10 (Conv2D)           (None, 96, 96, 32)        25632
_________________________________________________________________
batch_normalization_9 (Batch (None, 96, 96, 32)        128
_________________________________________________________________
leaky_re_lu_9 (LeakyReLU)    (None, 96, 96, 32)        0
_________________________________________________________________
max_pooling2d_4 (MaxPooling2 (None, 48, 48, 32)        0
_________________________________________________________________
conv2d_11 (Conv2D)           (None, 48, 48, 64)        18496
_________________________________________________________________
batch_normalization_10 (Batc (None, 48, 48, 64)        256
_________________________________________________________________
leaky_re_lu_10 (LeakyReLU)   (None, 48, 48, 64)        0
_________________________________________________________________
conv2d_12 (Conv2D)           (None, 48, 48, 64)        36928
_________________________________________________________________
batch_normalization_11 (Batc (None, 48, 48, 64)        256
_________________________________________________________________
leaky_re_lu_11 (LeakyReLU)   (None, 48, 48, 64)        0
_________________________________________________________________
max_pooling2d_5 (MaxPooling2 (None, 24, 24, 64)        0
_________________________________________________________________
conv2d_13 (Conv2D)           (None, 24, 24, 128)       73856
_________________________________________________________________
batch_normalization_12 (Batc (None, 24, 24, 128)       512
_________________________________________________________________
leaky_re_lu_12 (LeakyReLU)   (None, 24, 24, 128)       0
_________________________________________________________________
conv2d_14 (Conv2D)           (None, 24, 24, 128)       147584
_________________________________________________________________
batch_normalization_13 (Batc (None, 24, 24, 128)       512
_________________________________________________________________
leaky_re_lu_13 (LeakyReLU)   (None, 24, 24, 128)       0
_________________________________________________________________
max_pooling2d_6 (MaxPooling2 (None, 12, 12, 128)       0
_________________________________________________________________
conv2d_15 (Conv2D)           (None, 12, 12, 256)       295168
_________________________________________________________________
batch_normalization_14 (Batc (None, 12, 12, 256)       1024
_________________________________________________________________
leaky_re_lu_14 (LeakyReLU)   (None, 12, 12, 256)       0
_________________________________________________________________
conv2d_16 (Conv2D)           (None, 12, 12, 256)       590080
_________________________________________________________________
batch_normalization_15 (Batc (None, 12, 12, 256)       1024
_________________________________________________________________
leaky_re_lu_15 (LeakyReLU)   (None, 12, 12, 256)       0
_________________________________________________________________
max_pooling2d_7 (MaxPooling2 (None, 6, 6, 256)         0
_________________________________________________________________
conv2d_17 (Conv2D)           (None, 6, 6, 512)         1180160
_________________________________________________________________
batch_normalization_16 (Batc (None, 6, 6, 512)         2048
_________________________________________________________________
leaky_re_lu_16 (LeakyReLU)   (None, 6, 6, 512)         0
_________________________________________________________________
conv2d_18 (Conv2D)           (None, 6, 6, 512)         2359808
_________________________________________________________________
batch_normalization_17 (Batc (None, 6, 6, 512)         2048
_________________________________________________________________
leaky_re_lu_17 (LeakyReLU)   (None, 6, 6, 512)         0
_________________________________________________________________
flatten (Flatten)            (None, 18432)             0
_________________________________________________________________
dense (Dense)                (None, 512)               9437696
_________________________________________________________________
dropout (Dropout)            (None, 512)               0
_________________________________________________________________
dense_1 (Dense)              (None, 30)                15390
=================================================================
Total params: 14,189,566
Trainable params: 14,185,598
Non-trainable params: 3,968
_________________________________________________________________

## 4. Train

In [ ]:
es = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=10)
mc = tf.keras.callbacks.ModelCheckpoint('model.h5', monitor='val_loss', verbose=1, save_best_only=True, save_weights_only=True) 

model.fit(
    X_train, y_train,
    validation_split = 0.1,
    batch_size = 128,
    epochs = 100,
    callbacks = [es, mc]
)

Epoch 1/100
50/50 [==============================] - ETA: 0s - loss: 143.3499 - mae: 7.5653
Epoch 00001: val_loss improved from inf to 277.53790, saving model to model.h5
50/50 [==============================] - 6s 123ms/step - loss: 143.3499 - mae: 7.5653 - val_loss: 277.5379 - val_mae: 15.2750
Epoch 2/100
50/50 [==============================] - ETA: 0s - loss: 26.9980 - mae: 4.0215
Epoch 00002: val_loss improved from 277.53790 to 90.73389, saving model to model.h5
50/50 [==============================] - 5s 101ms/step - loss: 26.9980 - mae: 4.0215 - val_loss: 90.7339 - val_mae: 8.5491
Epoch 3/100
50/50 [==============================] - ETA: 0s - loss: 22.2286 - mae: 3.6285
Epoch 00003: val_loss did not improve from 90.73389
50/50 [==============================] - 5s 97ms/step - loss: 22.2286 - mae: 3.6285 - val_loss: 108.1307 - val_mae: 9.6298
Epoch 4/100
50/50 [==============================] - ETA: 0s - loss: 18.3800 - mae: 3.2774
Epoch 00004: val_loss improved from 90.73389 to 36.33375, saving model to model.h5
50/50 [==============================] - 5s 100ms/step - loss: 18.3800 - mae: 3.2774 - val_loss: 36.3337 - val_mae: 5.2275
Epoch 5/100
50/50 [==============================] - ETA: 0s - loss: 17.5768 - mae: 3.2089
Epoch 00005: val_loss improved from 36.33375 to 11.62592, saving model to model.h5
50/50 [==============================] - 5s 101ms/step - loss: 17.5768 - mae: 3.2089 - val_loss: 11.6259 - val_mae: 2.4335
Epoch 6/100
50/50 [==============================] - ETA: 0s - loss: 14.6779 - mae: 2.9121
Epoch 00006: val_loss did not improve from 11.62592
50/50 [==============================] - 5s 98ms/step - loss: 14.6779 - mae: 2.9121 - val_loss: 36.5155 - val_mae: 5.1569
Epoch 7/100
50/50 [==============================] - ETA: 0s - loss: 14.2272 - mae: 2.8655
Epoch 00007: val_loss did not improve from 11.62592
50/50 [==============================] - 5s 97ms/step - loss: 14.2272 - mae: 2.8655 - val_loss: 13.7575 - val_mae: 2.8509
Epoch 8/100
50/50 [==============================] - ETA: 0s - loss: 14.4809 - mae: 2.8923
Epoch 00008: val_loss did not improve from 11.62592
50/50 [==============================] - 5s 98ms/step - loss: 14.4809 - mae: 2.8923 - val_loss: 15.6195 - val_mae: 3.1522
Epoch 9/100
50/50 [==============================] - ETA: 0s - loss: 13.8883 - mae: 2.8330
Epoch 00009: val_loss improved from 11.62592 to 5.89293, saving model to model.h5
50/50 [==============================] - 5s 101ms/step - loss: 13.8883 - mae: 2.8330 - val_loss: 5.8929 - val_mae: 1.6606
Epoch 10/100
50/50 [==============================] - ETA: 0s - loss: 14.3280 - mae: 2.8776
Epoch 00010: val_loss did not improve from 5.89293
50/50 [==============================] - 5s 98ms/step - loss: 14.3280 - mae: 2.8776 - val_loss: 6.5700 - val_mae: 1.6895
Epoch 11/100
50/50 [==============================] - ETA: 0s - loss: 15.3410 - mae: 2.9933
Epoch 00011: val_loss improved from 5.89293 to 5.36494, saving model to model.h5
50/50 [==============================] - 5s 100ms/step - loss: 15.3410 - mae: 2.9933 - val_loss: 5.3649 - val_mae: 1.6087
Epoch 12/100
50/50 [==============================] - ETA: 0s - loss: 11.3734 - mae: 2.5383
Epoch 00012: val_loss did not improve from 5.36494
50/50 [==============================] - 5s 98ms/step - loss: 11.3734 - mae: 2.5383 - val_loss: 6.7953 - val_mae: 1.8747
Epoch 13/100
50/50 [==============================] - ETA: 0s - loss: 10.2814 - mae: 2.3993
Epoch 00013: val_loss did not improve from 5.36494
50/50 [==============================] - 5s 97ms/step - loss: 10.2814 - mae: 2.3993 - val_loss: 17.1325 - val_mae: 3.4906
Epoch 14/100
50/50 [==============================] - ETA: 0s - loss: 10.9861 - mae: 2.5005
Epoch 00014: val_loss did not improve from 5.36494
50/50 [==============================] - 5s 98ms/step - loss: 10.9861 - mae: 2.5005 - val_loss: 6.0290 - val_mae: 1.6552
Epoch 15/100
50/50 [==============================] - ETA: 0s - loss: 9.8910 - mae: 2.3625
Epoch 00015: val_loss did not improve from 5.36494
50/50 [==============================] - 5s 97ms/step - loss: 9.8910 - mae: 2.3625 - val_loss: 7.0162 - val_mae: 1.8054
Epoch 16/100
50/50 [==============================] - ETA: 0s - loss: 10.0027 - mae: 2.3786
Epoch 00016: val_loss did not improve from 5.36494
50/50 [==============================] - 5s 98ms/step - loss: 10.0027 - mae: 2.3786 - val_loss: 20.3863 - val_mae: 3.8726
Epoch 17/100
50/50 [==============================] - ETA: 0s - loss: 10.7871 - mae: 2.4704
Epoch 00017: val_loss improved from 5.36494 to 3.49013, saving model to model.h5
50/50 [==============================] - 5s 101ms/step - loss: 10.7871 - mae: 2.4704 - val_loss: 3.4901 - val_mae: 1.0247
Epoch 18/100
50/50 [==============================] - ETA: 0s - loss: 10.6025 - mae: 2.4417
Epoch 00018: val_loss did not improve from 3.49013
50/50 [==============================] - 5s 98ms/step - loss: 10.6025 - mae: 2.4417 - val_loss: 3.7258 - val_mae: 1.1519
Epoch 19/100
50/50 [==============================] - ETA: 0s - loss: 9.3532 - mae: 2.2842
Epoch 00019: val_loss improved from 3.49013 to 3.26826, saving model to model.h5
50/50 [==============================] - 5s 101ms/step - loss: 9.3532 - mae: 2.2842 - val_loss: 3.2683 - val_mae: 0.9708
Epoch 20/100
50/50 [==============================] - ETA: 0s - loss: 8.6065 - mae: 2.1881
Epoch 00020: val_loss did not improve from 3.26826
50/50 [==============================] - 5s 98ms/step - loss: 8.6065 - mae: 2.1881 - val_loss: 17.8731 - val_mae: 3.6450
Epoch 21/100
50/50 [==============================] - ETA: 0s - loss: 9.9312 - mae: 2.3701
Epoch 00021: val_loss did not improve from 3.26826
50/50 [==============================] - 5s 98ms/step - loss: 9.9312 - mae: 2.3701 - val_loss: 11.5026 - val_mae: 2.6936
Epoch 22/100
50/50 [==============================] - ETA: 0s - loss: 8.1375 - mae: 2.1238
Epoch 00022: val_loss did not improve from 3.26826
50/50 [==============================] - 5s 99ms/step - loss: 8.1375 - mae: 2.1238 - val_loss: 3.2930 - val_mae: 0.9953
Epoch 23/100
50/50 [==============================] - ETA: 0s - loss: 8.1309 - mae: 2.1273
Epoch 00023: val_loss did not improve from 3.26826
50/50 [==============================] - 5s 97ms/step - loss: 8.1309 - mae: 2.1273 - val_loss: 8.5024 - val_mae: 2.1928
Epoch 24/100
50/50 [==============================] - ETA: 0s - loss: 8.8620 - mae: 2.2402
Epoch 00024: val_loss did not improve from 3.26826
50/50 [==============================] - 5s 98ms/step - loss: 8.8620 - mae: 2.2402 - val_loss: 4.0939 - val_mae: 1.2952
Epoch 25/100
50/50 [==============================] - ETA: 0s - loss: 8.2365 - mae: 2.1555
Epoch 00025: val_loss did not improve from 3.26826
50/50 [==============================] - 5s 98ms/step - loss: 8.2365 - mae: 2.1555 - val_loss: 24.7076 - val_mae: 4.3257
Epoch 26/100
50/50 [==============================] - ETA: 0s - loss: 8.1941 - mae: 2.1534
Epoch 00026: val_loss did not improve from 3.26826
50/50 [==============================] - 5s 98ms/step - loss: 8.1941 - mae: 2.1534 - val_loss: 11.5968 - val_mae: 2.7427
Epoch 27/100
50/50 [==============================] - ETA: 0s - loss: 7.9766 - mae: 2.1180
Epoch 00027: val_loss did not improve from 3.26826
50/50 [==============================] - 5s 98ms/step - loss: 7.9766 - mae: 2.1180 - val_loss: 4.1211 - val_mae: 1.2114
Epoch 28/100
50/50 [==============================] - ETA: 0s - loss: 7.9609 - mae: 2.1157
Epoch 00028: val_loss did not improve from 3.26826
50/50 [==============================] - 5s 98ms/step - loss: 7.9609 - mae: 2.1157 - val_loss: 7.0026 - val_mae: 1.9793
Epoch 29/100
50/50 [==============================] - ETA: 0s - loss: 6.9356 - mae: 1.9633
Epoch 00029: val_loss did not improve from 3.26826
50/50 [==============================] - 5s 99ms/step - loss: 6.9356 - mae: 1.9633 - val_loss: 8.3898 - val_mae: 2.3531

## 5. Test

In [ ]:
submission = pd.read_csv('SampleSubmission.csv')
id_table = pd.read_csv('IdLookupTable.csv')

In [ ]:
model.load_weights('model.h5')

In [ ]:
pred = model.predict(X_test)

In [ ]:
image_id = list(id_table['ImageId'] - 1)
feature_name = list(id_table['FeatureName'])
feature_id = [feature_name.index(i) for i in feature_name]

In [ ]:
location = [pred[i,j] for i,j in zip(image_id, feature_id)]
submission['Location'] = location

In [ ]:
submission.to_csv('submission.csv', index=False)
submission.head()

   RowId   Location
0      1  67.972702
1      2  36.641808
2      3  29.384033
3      4  35.081280
4      5  61.670593

## 6. Result
* LB Score : 2.70099 (52 / 175)